<div class="alert alert-primary" role="alert">
  Please note that we are using <strong> Eastern Time Zone </strong>.
</div>
<div class="table-responsive">
  <table class="table table-bordered">
  	<col width="15%" />
    <col width="85%" />
    <tbody>
      <tr> <td>10:30-11:00</td> <td>Introduction and Welcome</td> </tr>
      <tr> <td>11:00-13:00</td> <td><b>Healthcare Session<b></td> </tr>
      <tr> <td>11:00-11:30</td> <td>Timothy Chou: TBD</td> </tr>
      <tr> <td>11:30-12:00</td> <td>Kevin Maher: TBD</td> </tr>
      <tr> <td>12:00-12:30</td> <td>Dina Katabi: TBD</td> </tr>
      <tr> <td>12:30-13:00</td> <td>Brandon Westover: TBD</td></tr>
      <tr> <td>13:00-13:30</td> <td>BREAK (gathertown)</td> </tr>
      <tr> <td>13:30-16:30</td> <td><b>Systems Session</b></td> </tr>
      <tr> <td>13:30-14:00</td>  <td>Pradip Bose: TBD</td></tr>
      <tr> <td>14:00-14:30</td>  <td>David Womblei: TBD</td></tr>
      <tr> <td>14:30-15:00</td>  <td> Maya Gokhale: Efficient Memory-Mapped Search in Persistent Memory/Storage</td></tr>
      <tr> <td>15:00-15:30</td>  <td>Reeta Das</td></tr>
      <tr> <td>15:30-16:00</td>  <td> Pradeep Dubey: Virtuous Cycle of AI</td> </tr>
      <tr> <td>16:00-16:30</td>  <td>Vlad Kolesnikov</td></tr>
      <tr> <td>16:30-16:45</td> <td>Wrap-up</td> </tr>
      <tr> <td>16:45-17:00</td> <td>Poster Lightning talks</td> </tr>
      <tr> <td>17:00-19:00</td> <td><b>Poster Session (gathertown)</b></td> </tr>
      <tr> <td>1700-1900</td>  <td>Alind Khare: FLOFA-Federated Learning for Once-For-All Networks</td></tr>
      <tr> <td>1700-1900</td>  <td>Alind Khare: SRTML-Soft-Real Time Machine Learning Serving</td></tr>
      <tr> <td>1700-1900</td>  <td>Yanbo Xu: HOLMES-Health OnLine Model Ensemble Serving for Deep Learning Models in Intensive Care Units</td></tr>
      <tr> <td>1700-1900</td>  <td>Manas Sahni/Shreya Varshini: CompOFA-Compound Once-For-All Networks for Faster Multi-Platform Deployment</td></tr>
  </tbody>
    </table>
</div>
