<div class="alert alert-primary" role="alert">
  Please note that we are using <strong> Eastern Time Zone </strong>.
</div>
<div class="table-responsive">
  <table class="table table-bordered">
  	<col width="15%" />
    <col width="85%" />
    <tbody>
      <tr> <td>10:45-11:00</td> <td><i>Introduction and Welcome</i></td> </tr>
      <tr> <td>11:00-13:00</td> <td><b><i>Healthcare Session</i></b></td> </tr>
      <tr> <td>11:00-11:30</td> <td>Timothy Chou, "Pediatric Cloud: A moonshot project to connect all 1,000,000 healthcare machines in all the children's hospitals"</td> </tr>
      <tr> <td>11:30-12:00</td> <td>Kevin Maher, "TBD"</td> </tr>
      <tr> <td>12:00-12:30</td> <td>Dina Katabi, "TBD"</td> </tr>
      <tr> <td>12:30-13:00</td> <td>Brandon Westover, "TBD"</td></tr>
      <tr> <td>13:00-13:30</td> <td>BREAK (gathertown)</td> </tr>
      <tr> <td>13:30-16:30</td> <td><b><i>Systems Session</i></b></td> </tr>
      <tr> <td>13:30-14:00</td>  <td>Pradip Bose, "TBD"</td></tr>
      <tr> <td>14:00-14:30</td>  <td>David Womble, "AI4Science and scalable AI/ML"</td></tr>
      <tr> <td>14:30-15:00</td>  <td> Maya Gokhale, "Efficient Memory-Mapped Search in Persistent Memory/Storage"</td></tr>
      <tr> <td>15:00-15:30</td>  <td>Reetu Das, "Systems for Precision Health"</td></tr>
      <tr> <td>15:30-16:00</td>  <td> Pradeep Dubey, "Virtuous Cycle of AI"</td> </tr>
      <tr> <td>16:00-16:30</td>  <td>Vlad Kolesnikov, "Recent advances in MPC and ZK and applications to ML and health"</td></tr>
      <tr> <td>16:30-16:45</td> <td><i>Wrap-up</i></td> </tr>
      <tr> <td>16:45-17:00</td> <td><i>Poster Lightning talks</i></td> </tr>
        <tr> <td>17:00-19:00</td> <td><b><i>Poster Session (gathertown)</i></b></td> </tr>
  </tbody>
    </table>
</div>
